* {
	margin:0px;
	padding:0px;
}
body {
	background-color:#454857;
	text-align: center;
}
header {
	background-color:black;
	height:50px;
	text-align: left;
}
header>a {
	color:white;
	font-size: 2em
}
i {
	padding:10px;
}
#sideNav {
	color:white;
	text-align:center;
	font-size:1.1em;
}
#scheduleForm>input {
	color:black;
	font-weight:bold;
	margin:3px;
}
#sideNav>article {
	padding-top:50px;
}
.infoText {
	text-decoration: none;
	font-size: 1.2em;
}
.uk-datepicker {
	left:-227px !important;
}
#mainPanel {
	background-color:#454857;
	overflow: auto;
}
#mainPanel>section {
	float:left;
	overflow:auto;
	height:700px;
	color:#BEE2E7;
}
.brief {
	padding:25px;
	font-size:2.5em;
	line-height:37px;
}
#mainPanel>section>article {
	float:left;
}
.container {
	height:150px;
}
.chart {
	height:400px !important;
}
.updateGraph {
	font-size:1.7em;
	margin:10px;
}
.selected {
	color:#8F002E !important;
}